
.container {
    background-color: rgb(255, 255, 255);
    width: 460px;
    height: 491px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    box-shadow:1px 1px 5px #151A41;
    border-radius: 10px;
    text-align: center;
}
@font-face {
    font-family:Louis ;
    src: url(./Assets/MusticaPro-SemiBold.otf);
}

.equis {
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    height: 20px;
    width: 20px;
    background-color: black;
    margin-right: 20px;
    margin-top: 20px;
    
}
.equisContainer {
    display: flex;
    justify-content:flex-end;
}
}
.Pregunta1 {
    font-family:Louis;
    font-size: 10px;
    text-align: center;
    margin-top: 100px;
}
.Caja {
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    font-size: 30px;
    text-align: center;
    box-shadow: 1px 1px 5px rgb(170, 167, 167);
    margin: 3px;
    font-family:Louis ;
    border-radius: 5px;
}
.numerosContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.pregunta3 {
    font-family:Louis ;
}
.Pregunta {
    margin-top: 50px;
}
.containerResolucion {
    display: flex;
    justify-content: space-evenly;
    
}
.caja1 {
    font-family:Louis ;
}
.caja2 {
    display: flex;
    justify-content: center;
    font-family:Louis ;
    margin: 10px;
}
.check {
    width: 25px;
    height: 25px;
}
.espacio {
    display: flex;
    justify-content: center;
}
.barra {
    background-color: rgb(212, 208, 208);
    width: 300px;
    height: 2px;
}
.caja3 {
    display: flex;
    justify-content: center;
    text-align: center;
}
.siguiente {
    width: 250px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 5px;
    text-align: center;
    font-family:Louis ;
    margin: 10px;
    box-shadow: 1px 1px 5px rgb(201, 201, 201);
    font-size: 20px;
}
.imagen {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}
.Caja7 {
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    font-size: 30px;
    text-align: center;
    box-shadow: 1px 1px 5px rgb(170, 167, 167);
    margin: 3px;
    font-family:Louis ;
    border-radius: 5px;
}
.Caja8 {
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    font-size: 30px;
    text-align: center;
    box-shadow: 1px 1px 5px rgb(170, 167, 167);
    margin: 3px;
    font-family:Louis ;
    border-radius: 5px;
}
.Caja9 {
    width: 50px;
    height: 50px;
    background-color: white;
    color: black;
    font-size: 30px;
    text-align: center;
    box-shadow: 1px 1px 5px rgb(170, 167, 167);
    margin: 3px;
    font-family:Louis ;
    border-radius: 5px;
}
.Caja10 {
    width: 50px;
    height: 50px;
    background-color: #FF0099;
    color: white;
    font-size: 30px;
    text-align: center;
    box-shadow: 1px 1px 5px rgb(170, 167, 167);
    margin: 3px;
    font-family:Louis ;
    border-radius: 5px;
}
